.hero {
    background-position: center;
    background-image: linear-gradient(#050606c5, #151313af), url("../../assets/pocetna.jpg");
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 160px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
}

.nav img {
    position: relative;
    bottom: 44px;
}

.actions {
    display: flex;
    gap: 2rem;
    width: 13%;
}

.actions select {
    background-color: transparent;
    border: 1px solid rgb(182, 173, 173);
    padding: 10px;
    color: #fff;
}

.actions select {
    background-color: black;

}

.actions a {
    background-color: red;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: 40%;
    text-align: center;
    padding-top: 18px;
    font-weight: bold;
    text-decoration: none;
}

.center {
    margin: auto;
    text-align: center;
    color: #fff;
    max-width: 40%;
}

.center h1 {
    font-size: 60px;
}

.center .ac {
    font-size: 38px;
}

.center h4 {
    font-size: 19px;
}

.centerAct {
    display: flex;
    position: relative;
}

.centerAct input {
    padding: 24px;
    width: 80%;

}

.centerAct button {
    padding: 24px;
    background-color: red;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    width: 40%;
}

.alert {
    color: orange;
    position: absolute;
    padding-top: 19px;
    overflow: hidden;
    top: 40px;
    font-size: 22px;
}