.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.nav img {
    position: relative;
}

.nav a {
    font-size: 20px;
    margin-right: 40px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

hr {
    opacity: 0.3;
    height: 2px;

}

.center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 40px;
    width: fit-content;
    margin: auto;
    overflow: hidden;
}

.center h2 {
    font-size: 36px;
}

.center p {
    font-size: 20px;
}

.control {
    margin-bottom: 0.5rem;
}

.control label {
    display: block;
    color: #264248;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.control input {
    font: inherit;
    background-color: #fff;
    color: #38015c;
    border: 1px solid rgb(167, 164, 164);
    width: 100%;
    padding: 20px;
}

.invalid label {
    color: #c12136;
}

.invalid input {
    border-color: #aa0b20;
    background-color: #d9828c;
}

.load {
    color: red;
}

.actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #ed0826;
    border: none;
    border-radius: 4px;
    padding: 1.3rem 2.8rem;
}

.actions button:hover {
    background-color: #aa0b20;
}

.actions button.disabled {
    cursor: not-allowed;
}

.actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: #309eb7;
    border: none;
    padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
    background-color: transparent;
}